<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jtd.lvapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //定位包、导航包需要的额外权限（注：基础权限也需要）
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity" />
        <activity android:name=".gongjuxiang.start.Start_Lvcheng" />
        <activity android:name=".gongjuxiang.start.DateActivity" />
        <activity android:name=".gongjuxiang.start.MapActivity" />
        <activity android:name=".gongjuxiang.weather.WeatherActivity"/>
        <activity android:name=".gongjuxiang.translation.TranslationActivity"/>
        <activity android:name=".zhushou.NoDiaryActivity"/>
        <activity android:name=".gongjuxiang.view.ViewActivity"/>
        <activity android:name=".gongjuxiang.view.ChaXunAvtivity"/>
        <activity android:name=".gongjuxiang.jizhangben.JizhangbenActivity"/>
        <activity android:name=".gongjuxiang.jizhangben.MouthAvtivity"/>
        <activity android:name=".mine.YouxiangActivity"/>
        <activity android:name=".mine.ShezhiActivity"/>
        <activity android:name=".mine.DengluActivity"/>
        <activity android:name=".gongjuxiang.chuguo.ChuguoActivity"/>
        <activity android:name=".gongjuxiang.information.InformationActivity"/>
        <activity android:name=".gongjuxiang.save.SaveActivity"/>
        <activity android:name=".gongjuxiang.rate.RateActivity"/>
        <activity android:name=".mine.ZhuceActivity"/>
        <activity android:name=".UseHelpActivity"/>
        <activity android:name=".gongjuxiang.baoxian.BaoxianActivity"/>
        <activity android:name=".gongjuxiang.jizhangben.AddxiaofeiActivity"/>
        <activity android:name=".gongjuxiang.rate.Rate_CurrencyActivity"/>


        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1998219676d842b492812b3cedbe1054" />

    </application>


</manifest>